html body {
    background: #e5e5e5;
    overflow-x: hidden;
    padding: 0;
    font-family: arial, helvetica, sans-serif;
    margin: auto;
}

body {
    margin: 0;
}


h1 {
    font-size: 48px;
    line-height: 56px;
    padding: 40px 0 48px;
    margin: 0;
}

h2 {
    font-size: 32px;
    margin-top: 1em;
}

h5 {
    padding: 0 0.67em;
}

a {
    color: inherit;
}

header {
    background: #005487;
    color: #fff;
    padding-top: 1.67em;
}

header div {
    padding: 0 33px;
    margin: auto;
    max-width: 960px;
    padding-left: 0;
    padding-right: 0;
}

header div a {
    position: relative;
    width: max-content;
}

header div h1 {
    padding: 40px 0 48px;
    text-align: left;
    margin: 0;
    font-size: 48px;
    line-height: 56px;


}

main {
    max-width: 960px;
    padding: 20px;
    margin: auto;
}



.pcont {
    background: #fff;
    box-shadow: 0 6px 20px 0 rgba(0,0,0,0.19);
    margin: 1.07em 1.67em;
    padding: 1.17em;
}

.mediacont {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

img,
video {
    width: 300px;
}

.breadcrumb-icon {
    background: url(data:image/svg+xml;charset=utf-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2019.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0A%09%20viewBox%3D%22-399%20147%2053%2031%22%20style%3D%22enable-background%3Anew%20-399%20147%2053%2031%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cstyle%20type%3D%22text/css%22%3E%0A%09.st0%7Bfill%3A%23FFFFFF%3B%7D%0A%3C/style%3E%0A%3Cpolygon%20class%3D%22st0%22%20points%3D%22-388.3%2C159.8%20-376.4%2C147.9%20-383.6%2C147.9%20-398%2C162.5%20-383.6%2C177%20-376.4%2C177%20-388.2%2C165%20-347%2C165%20%0A%09-347%2C159.9%20%22/%3E%0A%3C/svg%3E%0A) no-repeat 0 center;
    background-size: 17px 9.7px;
    padding-left: 25px;
    text-decoration-line: underline;
}